@model BrunoofgodArch.MVC.ViewModels.ContatoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Detalhes do contato: @Model.NomeDoContato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeDoVendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDoVendedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeDaEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDaEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeDoContato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDoContato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SobreNomeDoContato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SobreNomeDoContato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDeValidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeValidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDeContato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeContato)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ContatoId }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
